.ThemeSwitcher {
  border-radius: 50px;
  cursor: pointer;
  position: relative;
}

.ThemeSwitcher.on {
  background-color: var(--theme-light-toggler-bgc);
}

.ThemeSwitcher.off {
  background-color: var(--theme-dark-toggler-bgc);
}

.ThemeSwitcher.large {
  width: 54px;
  height: 30px;
}

.ThemeSwitcher.small {
  width: 42px;
  height: 24px;
}

.slider.small {
  height: 20px;
  width: 20px;
}
.slider.large {
  height: 25px;
  width: 25px;
}

.slider.off,
.slider.on {
  position: absolute;
  top: 50%;
  left: 5%;
  border-radius: 50%;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  transform: translate(0, -50%);
}

.slider.off {
  background-color: var(--dark-bgc);
}

.slider.on {
  left: 50%;
  background-color: var(--theme-light-slider-bgc);
}
