.CartPage {}

.CartTitle {
  font-size: 48px;
  font-weight: 500;
  line-height: 54px;
  letter-spacing: -1.6px;
  margin-bottom: 30px;
}

.CartContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
