.ProductItem {
  height: 48.09vh;
  height: 450px;
  width: 300px;
  cursor: pointer;
  transition: transform 0.15s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
  @media (max-width: 767px) {
    &:hover {
      transform: none;
      transition: none;
    }
  }
}