
.FooterLinkValue {
  font-size: 17px;
  font-weight: 400;
  line-height: 25px; 
  letter-spacing: -0.7px;
  margin-top: 5px;
}

.Email {
  color: var(--primary-light-1);
}

.Phone {
  color: var(--accent-blue-2);
}

.Address {
  color: var(--primary-light-1);
}


.FooterLinkLabel {
  color: var(--grey-light-4);
  font-size: 18px;
  font-weight: 400;
  line-height: 20px; 
  letter-spacing: -0.3px;
}