.Pagination {
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--primary-dark-5);
  width: 25.2vw;
  height: 50px;
  justify-content: space-between;
  box-sizing: border-box;
}
