.AuthFormInput {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--primary-dark-5);
  background: var(--primary-light-1);
  margin-bottom: 16px;
  &:focus-within {
    border: 1px solid var(--accent-blue-2);
  }
}

.AuthFormInputIcon {
  margin-right: 15px;
}

.AuthFormField {
  margin-left: 15px;
  width: fit-content;
  &::placeholder {
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.3px;
    color: var(--primary-dark-4);
  }
}