.LangSwitcher {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
  padding: 3px;
  border: 1px solid var(--primary-dark-1);
  background-color: var(--auth-page-bgc);
}

.dark {
  color: var(--inverted-primary-color);
}

.light {
  color: var(--inverted-primary-color);
}
