.LoginForm {
  margin: 0 auto;
  margin-top: 165px;
  background-color: var(--primary-light-1);
  padding: 25px 30px;
  display: flex;
  flex-direction: column;
  height: 321px;
  width: 410px;
  border-radius: 10px;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.LoginFormTopSection {
  width: 100%;
  margin-bottom: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.LoginFormTopControls {
  display: flex;
  gap: 5px;
}

.LoginFormTitle {
  color: var(--primary-dark-1);
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -0.8px;
}

.LoginFormQuestion {
  color: var(--primary-dark-4);
  font-size: 13px;
  letter-spacing: -0.2px;
  font-weight: 500;
  line-height: 15px; 
}

.LoginFormLink {
  font-size: 13px;
  font-weight: 500;
  line-height: 15px; 
  letter-spacing: -0.2px;
  color: var(--accent-blue-2);
  cursor: pointer;
}

.LoginFormButton {
  display: flex;
  width: 100%;
  height: 50px;
  padding: 15px 0px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: var(--accent-blue-2);

  color: var(--primary-light-1);
  font-size: 18px;
  font-weight: 500;
  line-height: 20px; 
  letter-spacing: -0.3px;
  outline: none;
  border: none;
  margin-bottom: 20px;
}

.LostYourPassword {
  color: var(--accent-blue-2);
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -0.2px;
  cursor: pointer;
}
