@mixin h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--h1-font-w);
  line-height: (--h1-line-height);
  letter-spacing: (--h1-letter-spacing);
}

@mixin h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--h2-font-w);
  line-height: (--h2-line-height);
  letter-spacing: (--h2-letter-spacing);
}

@mixin h3 {
  font-size: var(--h3-font-size);
  font-weight: var(--h3-font-w);
  line-height: (--h3-line-height);
  letter-spacing: (--h3-letter-spacing);
}

@mixin h4 {
  font-size: var(--h4-font-size);
  font-weight: var(--h4-font-w);
  line-height: (--h4-line-height);
  letter-spacing: (--h4-letter-spacing);
}

@mixin h5 {
  font-size: var(--h5-font-size);
  font-weight: var(--h5-font-w);
  line-height: (--h5-line-height);
  letter-spacing: (--h5-letter-spacing);
}

@mixin h6 {
  font-size: var(--h6-font-size);
  font-weight: var(--h6-font-w);
  line-height: (--h6-line-height);
  letter-spacing: (--h6-letter-spacing);
}
