.PurchaseButton {
  padding: 18px 20px;
  width: 212px;
  height: 60px;
  background-color: var(--accent-blue-2);
  color: var(--primary-light-1);
  display: flex;
  align-items: center;
  border-radius: 10px;
  gap: 7px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.6px;

  transition: all .25s ease-in-out;
  &:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  }
}