.Colors {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.6vw;
  margin-bottom: 27px;
  box-sizing: border-box;
}

.ColorItem {
  // width: 5.34;
  height: 9.84vh;
  width: calc((24.06vw / 4) - 10px);
  border: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    border: 1px solid var(--accent-blue-2);
  }
}
