.Choise {
  display: flex;
  flex-direction: column;
  padding-bottom: 34px;
  border-bottom: 1px solid var(--primary-dark-5);
  margin-bottom: 26px;
}

.LabelWrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.5px;
  margin-bottom: 21px;
}

.Label {
  color: var(--label-color);
}