.ProductsTopControls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: fit-content;
  margin-bottom: 40px;
  grid-area: Top-Controls;
}

.LeftPanel {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
